.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 78%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #000000;
	outline: none;
}

.cp_iptxt input {
  margin-left: 21%;
  margin-right: 20%;
}

textarea {
  margin-top: 2vh;
  width: 60vw;
  height: 50vh;
  padding: 3px 7px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 13px;
}

.textbox:focus {
  outline: 0;
  border: 2px solid #2196f3;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #000000;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

button {
  background: transparent;
  border:0;
  margin-left: 30%;
  margin-right: 30%;
}

.top {
 margin-top: 10%;
 display: flex; 
 justify-content: center;
}

.middle1 {
  margin-top: 6%;
  display: flex; 
  justify-content: center;
}

.middle2 {
  margin-top: 6%;
  display: flex;
  justify-content: center;
}

.under {
  margin-top: 6%;
  display: flex; 
  justify-content: center;
}

.word {
  font-size: 3vw;
  margin: 0 5vh 6vh 0;
}

.flex-grow{
  flex-grow: 1;
}

input {
 margin: 1.5vh 2.8vw 0vh 2.8vw;
}

/* ボタン基本スタイル */
#btn-submit {
  display: block;
  width: 15%;
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  border-bottom: 4px solid #d9d9d9;
  background-color: #d9d9d9;
  font-size: 1.5vw;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  appearance: none;
}

/* ボタンクリック時のスタイル */
#btn-submit:active {
  margin-top: 3%;
  border-bottom: 2px solid #006366;
  background-color: #309bf2;
}


    h1 {
      text-align: center;
      margin-bottom: 0;
    }
