body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 3vw;
  background-color: #fff;
  display: flex;
}

.bar {
  font-size: 2vw;
  margin-left: 1.8vw;
  margin-right: 1vw;
  padding-top: 4vh;
  font-family: "inter";
  font-weight: bold;
  font-family: "游ゴシック体","YuGothic";
  
}

a {
  color: #000;
  text-decoration:none;
}

.rogo {
  width: 15vw;
}

hr {
  margin-top: 30vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: rgb(255, 255, 255);
}

nav {
  height: 100vh;
  background-color: #D2F3BF;
}

main {
  width: 100%;
}

.hoge {
  display: flex;
  justify-content: space-between;
  margin: 2vw 3vw 0 3vw;
}

.wod {
  width: 808px;
  height: 674px;
  margin-left: 5vw;
}